.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--third-background-color);
}

.container-footer-left {
  display: block;
  min-width: 231px;
  margin-right: 70px;
}

.address {
  display: inline-block;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color var(--transition-time) var(--cubic-bezier);
  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.footer__join {
  margin-bottom: 20px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
