.out-team {
  background-color: var(--secondary-background-color);
}
.team {
  display: flex;
}
.team-item {
  margin-right: 30px;
  width: calc(100% / 4);
}
.team-item:last-child {
  margin-right: 0;
}

.div-team {
  background-color: var(--background-color);
}
.names {
  color: var(--secondary-text-color);
  font-weight: 500;
  margin-bottom: 10px;
}
.responsibilities {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-icons-item + .team-icons-item {
  margin-left: 10px;
}

/* .team-social-icon:hover,
.team-social-icon:focus {
fill: var(--title-text-color);
} */
