.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.container--footer {
  display: flex;
  align-items: baseline;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: baseline;
}
